body {
  background: url(../images/union-flag-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
main {
  margin: 0 auto;
}

.flip-clock-wrapper {
  margin: 2em auto;
  position: relative;
  text-align: center;
  width: inherit;
}

.flip-clock-divider .flip-clock-label {
  color: white;
}
#flag,
#flag img {
  order: 1;
  width: 100%;
}

#countdown {
  order: 0;
  margin: 1rem 0;
  text-align: center;
  font-size: 4rem;
}

#ads {
  order: 2;
  padding: 2rem 0;
}

* {
  box-sizing: border-box;
}
