#main {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.flip-clock-wrapper	 {
	margin: 2em auto;
	position: relative;
	text-align: center;
	width: inherit;
}

#flag,
#flag img {
	order: 1;
	width: 100%;
}

#countdown {
	order: 0;
	margin: 1rem 0;
	text-align: center;
	font-size: 4rem;
}

#ads {
	order: 2;
	padding: 2rem 0;
}
